@import '/assets/fonts/inter/stylesheet.css';
@import '/assets/fonts/bebas/stylesheet.css';
@import '/assets/fonts/monrope/stylesheet.css';
@import '@splidejs/splide/dist/css/themes/splide-default.min.css';

:root {
    --white: #ffffff;
    --grey: #F1F2F4;
    --dark-blue: #383838;
    --beige: #E1DAD7;
    --border: 1px solid rgba(255, 255, 255, 0.4);
    --card-bg: #F1F2F4;
    --red: #E82525;
}

.header {
    z-index: 4;
}

.rounded-8 {
    border-radius: 8px;
}

.rounded-16 {
    border-radius: 16px;
}

.rounded-24 {
    border-radius: 24px;
}

.text {
    font-size: 18px;
    line-height: 21.6px;
    font-weight: 600;
    color: var(--dark-blue);
}

.hover-effect_black::after {
    background: var(--red);
}

.text_grey {
    color: #CBD1DC;
}

.page-title_lg {
    font-size: 178px;
    line-height: 142.4px;
    color: var(--dark-blue);
    text-align: center;
}

.section-title_left {
    margin: 0;
    text-align: left;
}

.header-col2_clubs {
    background: var(--card-bg);
}

.header-col2_clubs .arrow_black {
    display: block;
    width: 16px;
    height: 16px;
}

.header-col2_clubs .arrow_white {
    display: none;
}

.header-col2_clubs a {
    color: var(--dark-blue);
}

.btn {
    border: none;
    padding: 20px 48px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24.6px;
}

.block-title {
    font-size: 52px;
    line-height: 46.8px;
}

/*  */

.btns-wrap {
    display: flex;
    gap: 8px;
}

.btn-schedule {
    background: var(--white);
}

.btn-join {
    background: var(--dark-blue);
    color: var(--white)
}

.routes {
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 4px;
    margin-bottom: 64px;
}

.route {
    color: #B8BFCD;
    font-weight: 500;
    font-size: 16px;
    line-height: 21.86px;
    padding: 4px 12px;
}

.route_active {
    background: var(--white);
    padding: 8px 12px;
    color: var(--dark-blue);
}

.page-info_bg {
    background: var(--card-bg);
}

.page-info {
    /* background: var(--card-bg); */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 74px 0 56px;
    scroll-snap-type: mandatory;
    z-index: 1;
}

.page-info_desc {
    max-width: 516px;
    text-align: center;
    line-height: 21.86px;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 32px;
    font-weight: 500;
}

.clubs-banner {
    margin-bottom: 32px;
    position: relative;
}

.club-info {
    margin-top: 130px;
    margin-bottom: 36px;
}

.club-contacts-wrapper {
    background: var(--card-bg);
    display: flex;
    padding: 16px;
}

.club-contacts_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
    width: 52.3%;
}

.club-contacts_right {
    width: 48.7%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.club-contacts_left p {
    font-size: 16px;
    line-height: 19.36px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    max-width: 361px;
    color: #000000;
}

.club-contact-item {
    padding: 8px 32px 8px 8px;
}

.club-contact-item__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.club-contact-item {
    background: var(--white);
    display: flex;
    gap: 16px;
}

.club-contact-item_img-wrap {
    width: 70px;
    height: 70px;
    background: var(--card-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 2px;
}

.club-contact-item_img-wrap img {
    width: 20px;
    height: 20px;
}

.club-slider-wrapper {
    display: flex;
    gap: 4px ;
    overflow: hidden ;
}
.club-slider-left {
    width: 50%;
    background-image: url('../assets/img/line_slider1920.png');
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--card-bg);
    padding: 40px;
    border-radius: 16px;
}
.club-slider-right {
    width: 50%;
    border-radius: 16px;
}
.club-slider-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.club-slider-card {
    background-color: var(--white);
    width: 80%;
    height: 85%;
    border-radius: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.club-slider-page {
    font-weight: 600;
}
.club-slider-title {
    font-size: 180px;
    display: inline-block;
}
.shadow-text {
    text-shadow: 
        -190px 0px 4px rgba(0, 0, 0, 0.05), 
        190px 0px 4px rgba(0, 0, 0, 0.05);  
    font-family: 'Bebas Neue Cyrillic', sans-serif;

}
.club-slider-title p {
    font-size: 30px;
    line-height: 0;
    text-align: center;
    font-family: 'Bebas Neue Cyrillic', sans-serif;
    letter-spacing: normal;

}
.club-slider-info {
    font-weight: 500;
    display: inline-block;
    text-align: center;
}
.club-slider-info:after {
    content: " ";
    display: block;
    text-align: center;
}
.club-slider-info span {
    display: inline-block;
    width: 100%;
    text-align: center;
}


/* выаваы */
.club-slider {
    position: relative;
    height: 100vh; 
}

.custom-swiper-container {
    height: 100%; 
    position: relative;
}

.custom-swiper-wrapper {
    display: block; 
}

.custom-swiper-slide {
    height: 100vh; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.custom-swiper-slide:first-child {
    opacity: 1; 
}

.swiper-slide-active {
    opacity: 1 !important; 
}

/* выавыа */
.work-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.work-info_bottom,
.work-info_top {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.routes img {
    width: 12px;
    height: 12px;
    flex-shrink: 0;
}

.btns-wrap_mobile {
    display: none;
}

.banner {
    background-image: url(/assets/img/clubs_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 906px;
    position: relative;
    z-index: 3;
    transform-origin: top;
}

.header-col1_clubs {
    background-color: var(--card-bg);
}

.header-col3_clubs,
.header-col3_clubs .burger-menu {
    background: var(--card-bg);
}

.header-col3_clubs .phone,
.header-col3_clubs .back-call {
    background: var(--white);
}

.header-col1_clubs.active {
    background: var(--white);
}


.page-info_bg {
    position: relative;
    overflow: hidden;
    transform-style: preserve-3d;
}

.page-info {
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.page-info::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    background-attachment: fixed;
    z-index: -1;
    opacity: 0.8;
}

.splide-cont {
    margin-left: 32px;
}

.splide__slide {
    cursor: pointer;
}

.club-photos-arrow_prev,
.club-photos-arrow_next {
    position: absolute;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    width: 100px;
    height: 64px;
    border-radius: 40px;
    cursor: pointer;
}


.club-photos-arrow_prev {
    left: 15px;
}

.club-photos-arrow_next {
    right: 51px;
}

.club-photo-desc {
    position: absolute;
    z-index: 2;
    bottom: 20px;
    width: 430px;
    height: 94px;
    color: var(--white);
    left: 8px;
    transition: 0.5s ease;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.club-photo-desc h3 {
    max-width: 248px;
    transition: 0.2s ease;
}

.club-photo-desc p {
    max-width: 381px;
    display: none;
    font-size: 16px;
    line-height: 21.86px;
    font-weight: 500;
}

.club-photos-section {
    margin-top: 180px;
}

.splide-arrow-wrap p {
    display: none;
}

.photo_mobile {
    display: none;
}

.section-title_photos {
    margin-bottom: 44px;
}



@media (hover: hover) {
    .splide_hover:hover .club-photo-desc {
        color: var(--dark-blue);
        background: var(--white);
        height: 240px;
        padding: 16px;
        justify-content: space-between;
    }

    .splide_hover:hover .club-photo-desc p {
        display: block;
    }
}

@media (hover: hover) and (max-width: 1440px) {

    .splide_hover:hover .club-photo-desc {
        height: 180px;
        padding: 8px;
    }

}

@media(max-width:1440px) {

    .block-title {
        font-size: 40px;
        line-height: 36px;
    }

    .btn {
        font-size: 14px;
        line-height: 19.12px;
    }

    .page-title_lg {
        font-size: 130px;
        line-height: 104px;
    }

    .page-info_desc {
        font-size: 14px;
        line-height: 16.8px;
        max-width: 434px;
        margin-top: 12px;
        margin-bottom: 24px;
    }

    .page-info {
        padding: 55px 0 39px;
    }

    .rounded-16 {
        border-radius: 12px;
    }

    .rounded-24 {
        border-radius: 18px;
    }

    .rounded-8 {
        border-radius: 6px;
    }

    .text {
        font-size: 14px;
        font-weight: 500;
        line-height: 16.8px;
    }

    .btn {
        padding: 15px 36px;
    }

    /*  */

    .section-title_photos {
        margin-bottom: 33px;
    }

    .club-photo-desc {
        padding-left: 8px;
        width: 323px;
    }

    .club-photo-desc p {
        max-width: 286px;
    }

    .splide_hover .club-photo-desc p {
        font-size: 14px;
        line-height: 18.8px;
    }

    .club-photos-arrow_prev,
    .club-photos-arrow_next {
        width: 75px;
        height: 48px;
    }

    .splide_hover,
    .splide_hover img {
        height: 533px;
    }

    .splide-cont {
        margin-left: 24px;
    }

    .clubs-banner {
        margin-bottom: 24px;
    }

    .banner {
        height: 687px;
    }

    .route {
        font-size: 14px;
        line-height: 16.8px;
        padding: 6px 8px;
    }

    .routes {
        margin-bottom: 48px;
    }

    .route_active {
        padding: 6px 8px;
    }

    .club-info {
        margin-top: 98px;
        margin-bottom: 24px;
    }

    .club-contact-item_img-wrap {
        border-radius: 1.5px;
    }

    .club-contact-item_img-wrap img {
        width: 15px;
        height: 15px;
    }

    .club-contact-item {
        padding: 6px 24px 6px 6px;
    }


    .work-info_bottom,
    .work-info_top {
        gap: 12px;
    }

    .club-contact-item_img-wrap {
        width: 53px;
        height: 53px;
    }

    .work-info {
        gap: 9px;
    }

    .club-contacts_left p {
        font-size: 14px;
        line-height: 16.8px;
        font-weight: 500;
        max-width: 271px;
    }

    .club-contacts_left {
        padding: 6px;
    }

    .club-contacts-wrapper {
        padding: 12px;
    }
}

@media(max-width:1024px) {
    .club-contacts_right {
        width: 60%;
    }

    .club-contacts_left {
        width: 40%;
    }
}

@media(max-width:768px) {

    .rounded-16 {
        border-radius: 6px;
    }

    .banner {
        height: 800px;
        background-position-x: 7%;
    }

    .club-info {
        margin-top: 81px;
        margin-bottom: 16px;
    }

    .club-contacts-wrapper {
        flex-direction: column;
    }

    .club-contacts_right {
        width: 100%;
    }

    .club-contacts_left {
        width: 100%;
        flex-direction: row;
        padding-left: 0;
        padding-bottom: 40px;
        justify-content: flex-start;
        gap: 112px;
    }

    .splide-arrow-wrap p {
        display: block;
    }

    .photo_mobile {
        display: block;
    }

    .photo_desktop {
        display: none;
    }

    .splide_hover img {
        height: 417px;
    }

    .splide-cont {
        margin: 0;
    }

    .club-photos-arrow_prev,
    .club-photos-arrow_next {
        position: static;
        transform: translateY(0);
        width: 16px;
        height: 16px;
    }

    .club-photo-desc {
        position: static;
    }

    .club-photo-desc {
        color: var(--dark-blue);
        flex-direction: row;
        justify-content: space-between;
        width: 101%;
        background: var(--card-bg);
        margin-top: 8px;
        height: 157px;
        padding: 8px;
    }

    .club-photo-desc p {
        display: block;
        margin-right: 80px;
    }

    .splide-arrow-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100vw - 48px);
        background: var(--card-bg);
        margin: 0 auto;
        padding: 12px 8px;
        box-sizing: content-box;
        border-radius: 6px;
        margin-top: 8px;
    }

    .club-photos-arrow_prev img,
    .club-photos-arrow_next img {
        width: 16px;
        height: 16px;
    }

    .splide_hover,
    .splide_hover img {
        height: auto;
    }

    .splide-arrow-wrap p {
        font-size: 14px;
        font-weight: 600;
        line-height: 12.6px;
    }
}



@media(max-width:430px) {

    .block-title {
        font-size: 32px;
        line-height: 28.8px;
    }

    .rounded-24 {
        border-radius: 12px;
    }

    .page-title_lg {
        font-size: 68px;
        line-height: 61.2px;
    }

    .btn {
        width: 50%;
    }

    /*  */

    .club-info {
        margin-bottom: 8px;
    }

    .banner {
        height: 543px;
        background-position-x: 0;
    }

    .clubs-banner {
        margin-bottom: 16px;
    }

    .routes {
        margin-bottom: 70px;
    }

    .btns-wrap_mobile {
        margin-top: 8px;
        display: flex;
    }

    .page-info_desc {
        margin-bottom: 0;
        max-width: 336px;
        margin-top: 0;
    }

    .page-info {
        padding: 16px 0 103px;
    }

    .btns-wrap_mobile .btn-schedule {
        background: var(--card-bg);
    }

    .btns-wrap_desktop {
        display: none;
    }

    .section-title_left {
        font-size: 36px;
        line-height: 32.4px;
    }

    .club-contacts_left {
        flex-direction: column;
        gap: 13px;
        padding-bottom: 20px;
    }


    .club-contact-item {
        padding-right: 16px;
    }

    .club-contact-item__info p:first-child {
        display: none;
    }

    .club-contact-item__info {
        justify-content: flex-end;
    }

    .club-contact-item {
        gap: 12px;
    }

    .btn-join {
        padding: 15px 32px;
    }

    .splide_hover img {
        height: 195px;
        width: 100%;
        object-fit: cover;
    }

    .splide-arrow-wrap {
        width: calc(100vw - 32px);
    }

    .club-photo-desc {
        flex-direction: column;
        justify-content: space-between;
        height: 180px;
        width: 100%;
    }

    .club-photo-desc p {
        margin: 0;
    }

    .section-title_photos {
        font-size: 36px;
        line-height: 32.4px;
        max-width: 248px;
    }
}