.marketing-container {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  background-image: url(/assets/img/line-marketing.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.marketing-card-title,
.marketing-card {
  width: calc(33.3% - 8px);
  min-height: 600px;
}
.marketing-card-title__title {
  font-size: 68px;
}

.marketing-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--grey);
  padding: 24px;
  border-radius: 16px;
}
.marketing-card-upper__img img {
  padding: 16px;
  background-color: var(--white);
  border-radius: 8px;
}

.marketing-card-lower {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.marketing-card-lower__title {
  font-size: 40px;
}
.marketing-card-lower__text {
  font-size: 18px;
  font-weight: 500;
  color: #929AAA;
}
.marketing-banner-section {
  margin-bottom: 20px;
}
.marketing-banner-section .container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.marketing-banner-card {
  min-height: 900px;
  padding: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
}
.marketing-banner-card-first {
  background-image: url(/assets/img/marketing-banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.marketing-banner-card-second {
  background-image: url(/assets/img/marketing-banner2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.marketing-banner-card-upper__title  {
  font-size: 76px;
  color: var(--white);
  line-height: 90%;
  padding-right: 60%;
}
.marketing-banner-card-lower {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  gap: 8px;
}
.marketing-banner-card-lower-item {
  display: flex;
  gap: 10px;
  background-color: var(--white);
  padding: 12px 24px 12px 12px;
  border-radius: 36px;
}
.marketing-banner-card-lower-item__img {
  width: 24px;
  height: 24px;
  padding: 6px;
  background-color: var(--dark-blue);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}


.marketing-banner-info-card {
  background-color: var(--grey);
  padding: 24px;
  border-radius: 16px;
  display: flex;
}
.marketing-banner-info-card-left,
.marketing-banner-info-card-right {
  width: 50%;
}
.marketing-banner-info-card-left__title {
  font-size: 68px;
  padding-right: 260px;
}

.marketing-banner-info-card-right {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.marketing-banner-info-card-right__text {
  font-size: 18px;
  font-weight: 600;
  padding-right: 160px;
}
.marketing-banner-info-card-right__block {
  display: flex;
  gap: 8px;
}
.btn--marketing {
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 700;
  background-color: var(--dark-blue);
  color: var(--white);
  border-radius: 8px;
  white-space: nowrap;
}
.info-marketing__text {
  font-weight: 600;
  font-size: 16px;
}

@media (max-width: 1440px) {
  .marketing-card-title,
  .marketing-card {
    min-height: 450px;
  }
  .marketing-banner-card {
    min-height: 675px;
  }
  .marketing-banner-card-first {
    background-image: url(/assets/img/marketing-banner1440.png);
  }
  .marketing-banner-card-second {
    background-image: url(/assets/img/marketing-banner2-1440.png);
  }
  .marketing-card-title__title {
    font-size: 50px;
  }
  .marketing-card-lower__title {
    font-size: 30px;
  }
  .marketing-card-lower__text {
    font-size: 14px;
  }
  .marketing-banner-card-upper__title {
    padding-right: 50%;
  }
  .marketing-banner-card-lower-item__text {
    font-size: 14px;
    align-self: center;
  }
  .marketing-banner-info-card-left__title {
    font-size: 50px;
  }
  .marketing-banner-info-card-right__text {
    font-size: 14px;
  }
  .btn--marketing {
    padding: 12px 24px;
    font-size: 14px;
  }
  .info-marketing__text {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .marketing-container {
    background-image: url(/assets/img/line-marketing-768.png);
  }
  .marketing-card-title {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px 100px;
    min-height: 0;
  }
  .marketing-card {
    width: calc(50% - 8px);
    min-height: 358px;
  }
  .marketing-card-lower__title {
    font-size: 24px;
  }
  .marketing-banner-card-upper__title {
    padding-right: 15%;
  }
  .marketing-banner-card {
    min-height: 990px;
  }
  .marketing-banner-card-first {
    background-image: url(/assets/img/marketing-banner768.png);
  }
  .marketing-banner-card-second {
    background-image: url(/assets/img/marketing-banner2-768.png);
  }
  .marketing-banner-info-card {
    flex-direction: column;
    gap: 20px;
  }
  .marketing-banner-info-card-left,
  .marketing-banner-info-card-right {
    width: 100%;
  }
  .marketing-banner-info-card-left__title {
    line-height: 90%;
  }
}
@media (max-width: 475px) {
  .marketing-container {
    background-image: url(/assets/img/line-marketing-375.png);
  }
  .marketing-card-title {
    padding: 20px 30px;
  }
  .marketing-card-title__title {
    font-size: 36px;
  }
  .marketing-card {
    width: 100%;
    min-height: 246px;
    padding: 16px;
  }
  .marketing-card-upper__img img {
    padding: 7px;
  }
  .marketing-card-lower {
    gap: 10px;
  }
  .marketing-banner-card {
    min-height: 780px;
    align-items: center;
  }
  .marketing-banner-card-first {
    background-image: url(/assets/img/marketing-banner375.png);
  }
  .marketing-banner-card-second {
    background-image: url(/assets/img/marketing-banner2-375.png);
  }
  .marketing-banner-card-upper__title {
    font-size: 36px;
    text-align: center;
    padding: 0 24px;
  }
  .marketing-banner-card-lower {
    align-self: center;
  }
  .marketing-banner-info-card {
    align-items: center;
  }
  .marketing-banner-info-card-right {
    gap: 40px;
  }
  .marketing-banner-info-card-left__title {
    padding: 0;
    text-align: center;
  }
  .marketing-banner-info-card-right__text {
    padding: 0;
    text-align: center;
  }
  .marketing-banner-info-card-right__block {
    flex-direction: column;
   
  }
  .info-marketing__text {
    text-align: center;
  }
}