@import '/assets/fonts/bebas/stylesheet.css';
@import '/assets/fonts/monrope/stylesheet.css';
@import '/assets/fonts/inter/stylesheet.css';
@import '@splidejs/splide/dist/css/themes/splide-default.min.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--white);
}

p {
    color: var(--dark-blue);
}

h1,
h2,
h3,
h4,
h5,
h6,
.header-submenu ul li a,
h1 span {
    font-family: 'Bebas Neue Cyrillic', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: -0.02em;
}

*:not(h1, h2, h3, h4, h5, h6) {
    font-family: 'Manrope', sans-serif;
}

.love-card__title,
.app-card-title,
.news-title,
.feedback-top p {
    font-family: 'Inter', sans-serif;
}

:root {
    --white: #ffffff;
    --grey: #F1F2F4;
    --dark-blue: #383838;
    --beige: #E1DAD7;
    --border: 1px solid rgba(255, 255, 255, 0.4);
    --card-bg: #F1F2F4;
    --red: #E82525;
}

.btn-primary {
    background: var(--red);
    color: var(--white);
    border-radius: 6px;
    height: 62px;
    cursor: pointer;
    border: none;
    font-weight: 700;
    line-height: 21.86px;
}

.hover-effect {
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.hover-effect::after {
    content: attr(data-hover-text);
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-blue);
    transition: top 0.3s ease;
    z-index: 1;
    color: var(--white);
}



a.navigate-btn {
    background: var(--card-bg);
    font-weight: 700;
    color: var(--dark-blue);
    align-self: center;
    width: 174px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

input::placeholder {
    color: #ABB2C3;
    font-family: 'Manrope', sans-serif;
}

.error {
    border: 1.5px solid var(--red);
}

li {
    list-style: none;
}

input {
    border: none;
    outline: none;
    padding-left: 25px;
    height: 80px;
    font-size: 18px;
    border-radius: 6px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-col1 {
    background: var(--white);
    padding: 8px 16px;
    display: flex;
    width: max-content;
    border-radius: 8px;
    height: max-content;
    z-index: 10;
}

.header-menu {
    display: flex;
    gap: 4px;
}

.header-menu-link {
    padding: 13.5px 16px;
}

.header-menu-item {
    text-transform: uppercase;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    padding: 30px 0;
    transition: transform 0.3s ease-in-out;
    width: 100%;
}

.burger {
    display: flex;
}

.header-col3 {
    display: flex;
    align-items: center;
    background: var(--white);
    gap: 8px;
    border-radius: 6px;
    padding: 8px;
    font-size: 16px;
    font-weight: 700;
}

.phone {
    background: var(--card-bg);
    border-radius: 6px;
    padding: 14px 16px;
}

.back-call {
    background: var(--card-bg);
    padding: 14px 26px;
    border-radius: 6px;
    border: none;
    font-weight: 700;
    font-size: 16px;
}

.burger-menu {
    display: flex;
    width: 49px;
    height: 49px;
    justify-content: center;
    align-items: center;
}


.header.hidden {
    transform: translateY(-100%);
}

.header-col2 {
    background-color: transparent;
    color: var(--default-text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    height: 66px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.header-col3 {
    position: relative;
}

.header-submenu {
    position: absolute;
    top: 0;
    right: 0;
    width: 928px;
    background: var(--white);
    border-radius: 16px;
    padding: 40px;
    display: flex;
    gap: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease, height 0.5s ease;
    z-index: 10;
    height: 0;
    overflow: hidden;
}

.header-submenu.active {
    opacity: 1;
    visibility: visible;
    height: 426px;
}

.header-submenu ul li a {
    font-size: 48px !important;
    line-height: 43.2px !important;
}

.header-col3.blurred .phone,
.header-col3.blurred .back-call,
.header-col3.blurred .buy-card__btn,
.header-col3.blurred .burger-menu,
.header-col3.blurred .other-element {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.header-submenu-col {
    flex: 1;
}

.header-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease 0.3s;
    z-index: 5;
    backdrop-filter: blur(16.5px);
}

.header-overlay.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.header-submenu-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-submenu-col ul li {
    margin-bottom: 16px;
}

.header-submenu-col ul li a {
    text-decoration: none;
    color: var(--default-text-color);
    font-size: 16px;
}

.header-submenu-close {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    background: var(--card-bg);
    height: 65px;
    width: 65px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scrolled .header-col2 {
    background-color: var(--white);
}

.scrolled .header-col2 a {
    color: var(--dark-blue);
}

.buy-card__btn {
    padding: 14px 26px;
    border-radius: 6px;
    border: none;
    font-weight: 700;
    color: var(--white);
    background: var(--red);
    font-size: 16px;
}

.video-container {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: flex-end;
}

.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.content-overlay {
    z-index: 1;
    text-align: center;
    margin: 0 auto 40px;
}

.container {
    width: calc(100vw - 48px);
    margin: 0 auto;
}

.page-title {
    font-size: 130px;
    line-height: 117px;
    color: var(--white);
}

.page-title_small {
    max-width: 768px;
    text-align: left;
}

.main-page-text {
    color: var(--white);
    align-self: flex-end;
    text-align: right;
    max-width: 355px;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
}

.text-wrapper {
    display: flex;
    justify-content: space-between;
}

.buy-card {
    padding: 30px 0;
}

.buy-card .container_relative {
    background: url('/assets/img/bar.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 916px;
}

.container_relative {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy-card-window {
    background-color: var(--card-bg);
    width: 668px;
    padding: 40px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-image: url('/assets/img/card-line.png');
    background-repeat: no-repeat;
    background-position: center;
}


.buy-card-heading h4 {
    color: var(--dark-blue);
    font-size: 100px;
    line-height: 90px;
    margin-bottom: 4px;
}

.buy-card-heading p {
    font-size: 18px;
    max-width: 338px;
}

.heading_left {
    max-width: 451px;
}

.buy-card-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}


.form-politic {
    color: #AAB2C2;
    max-width: 372px;
    font-weight: 600;
}

.close-card {
    width: 65px;
    height: 65px;
    border-radius: 8px;
    padding: 8px;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -12px;
    right: -12px;
    cursor: pointer;
}

.buy-card-form {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.dropdown-container {
    position: relative;
}

.dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--white);
    transition: background-color 0.3s ease;
    padding: 0 25px;
}

.arrow-icon {
    transition: transform 0.3s ease;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 16px;
    z-index: 10;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 0.5s ease, transform 0.5s ease;
    padding: 8px;
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--dark-blue);
    font-size: 18px;
    font-weight: 600;
}

.dropdown-menu.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.menu-item {
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px 24px;
    background: var(--card-bg);
    border-radius: 8px;
    transition: background 0.3s ease;
}



.menu-item.selected {
    background: var(--dark-blue);
    color: var(--white);
}

.dobule-dd-wrapper {
    display: flex;
    gap: 4px;
}

.dobule-dd-wrapper .dropdown-container {
    width: 50%;
}

.menu-item_date {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-item_date span {
    background: var(--white);
    color: var(--dark-blue);
    width: 78px;
    height: 38px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.menu-item_date.selected span {
    background: var(--beige);
}

.news-card {
    background: var(--card-bg);
    color: var(--dark-blue);
    min-height: 640px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
}

.news-image {
    width: 100%;
    max-height: 294px;
    flex-grow: 1;
    border-radius: 16px 16px 0 0;
}

.news-date-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding: 0 24px 24px;
}

.news-content-wrapper {
    padding: 24px;
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 8px;
}

.arrow-wrapper {
    width: 56px;
    height: 56px;
    background: var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.news-title {
    font-size: 22px;
    font-weight: 500;
    color: #000000;
}

.news-description {
    font-weight: 600;
}

.container_flex {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin: 180px auto;
}

.section-title {
    font-size: 100px;
    line-height: 90px;
    text-align: center;
    max-width: 680px;
    margin: 0 auto;
}


.numbers-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.numbers-card {
    padding: 20px;
    width: 100%;
    height: 50%;
    background: var(--card-bg);
    color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;
}

.numbers-card h4 {
    font-size: 160px;
    line-height: 160px;
}

.numbers-card__description {
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
}

.numbers-left,
.numbers-right {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: calc(25% - 8px);

}

.center-section {
    width: 50%;
    border-radius: 16px;
    position: relative;
}

.center-section h4 {
    position: absolute;
    left: 24px;
    bottom: 4px;
    font-size: 100px;
    line-height: 90px;
    color: var(--white);
    max-width: 669px;
}

.center-section img {
    width: 100%;
    height: 100%;
}

.center-image {
    max-width: 100%;
    height: auto;
    border-radius: 16px;
}

.numbers {
    padding: 20px 0;
}

.percent {
    display: flex;
    align-items: flex-start;
    gap: 4px;
}

.percent img {
    margin-top: 15px;
}

.footer {
    background: var(--dark-blue);
    padding: 30px 0 24px;
    text-transform: uppercase;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    gap: 44px;
}

.footer-logo {
    width: 100%;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
}

.footer-col {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-title {
    color: var(--white);
    font-size: 67.5px;
    line-height: 61.2px;
}

.footer-col_col1 {
    max-width: 413px;
    gap: 24px;
}

a.social-media {
    display: flex;
    gap: 24px;
    align-items: center;
    border: var(--border);
    border-radius: 48px;
    width: 50%;
    justify-content: flex-end;
    height: 56px;
    font-size: 18px;
}

a.social-media img {
    position: relative;
    right: 5px;
}

.social-media-wrapper {
    display: flex;
    gap: 8px;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 285px;
}

.footer-top {
    display: flex;
    gap: 208px;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1106px;
}

.for-love-wrapper {
    display: flex;
    gap: 4px;
    overflow: hidden;
}

.for-love-left {
    width: 50%;
    background-image: url('/assets/img/line_forlove.png');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    background-color: var(--card-bg);
    padding: 40px;
    border-radius: 16px;
}

.for-love-right {
    width: 50%;
    border-radius: 16px;
}

.for-love-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.for-love__title {
    max-width: 468px;
}

.icon-wrapper {
    width: 142px;
    height: 142px;
    border-radius: 8px;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--card-bg);
    flex-shrink: 0;
}

.for-love__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 30px;
    margin-top: 35px;
}

.icon-wrapper_dumbbell {
    position: absolute;
    z-index: 2;
    width: 142px;
    height: 142px;
    right: 0;
}

.icon-wrapper_heart {
    position: relative;
    width: 142px;
    height: 142px;
    top: -100px;
    left: -15px;
}

.for-love-wrapper .btn-primary {
    margin-top: auto;
    width: 188px;
    height: 49px;
    margin: auto auto 0;
}

.for-love__promotion {
    background: var(--white);
    border-radius: 32px;
    padding: 8px 18px;
    display: flex;
    align-items: center;
    gap: 16px;
    text-transform: uppercase;
    color: var(--dark-blue);
    width: max-content;
    margin: 0 auto;
}

.for-love__promotion span {
    font-weight: 700;
    padding: 8px 18px;
    background: var(--card-bg);
    border-radius: 40px;
}

.love-card-icon-wrapper {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.love-card {
    background: var(--white);
    border-radius: 12px;
    max-width: 319px;
    padding: 16px;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.love-card__description {
    color: #CBD1DC;
    font-size: 18px;
    font-weight: 600;
}

.love-card__title {
    font-weight: 500;
    font-size: 22px;
    line-height: 24.2px;
}

.for-love__cards {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 8px;
}

.love-card-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


/*  */
.container-slider {
    display: flex;
    width: 100%;
    gap: 8px;
}

.slider-left {
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background: var(--card-bg);
    border-radius: 16px;
    font-size: 18px;
    font-weight: 600;
}

.tab {
    padding: 10px;
    background: #ddd;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

.slider-right {
    width: 75.5%;
    position: relative;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.slide-desc {
    position: absolute;
    bottom: 16px;
    left: 16px;
    color: var(--dark-blue);
    padding: 10px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 648px;
}

.tabs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.tab {
    position: relative;
    padding: 10px 20px;
    background: #F7F8FA;
    border: none;
    cursor: pointer;
    color: rgba(56, 56, 56, 0.2);
    font-weight: bold;
    overflow: hidden;
}

.tab.active {
    background: var(--white);
    position: relative;
    color: var(--dark-blue);
}

.tab.active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #F7F8FA;
    transition: none;
    z-index: 0;
}

.tab span {
    position: relative;
    z-index: 1;
}

.tab.active.animating::before {
    animation: progress-tab 10s linear forwards;
}

.slider-title {
    text-align: left;
    margin: 4px 0 0 4px;
}

@keyframes progress-tab {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.fitness {
    padding: 20px 0;
}

.slide-title {
    font-size: 52px;
    line-height: 46.8px;
    color: var(--dark-blue);
}

.slide-desc-wrapper {
    display: flex;
    padding: 8px;
    border-radius: 8px;
}

.slide-icon {
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    flex-shrink: 0;
    background: var(--card-bg);
}

.slide-icon img {
    width: 119px;
    height: 97px;
}

.slide-desc-wrapper,
.slide-btn {
    background: var(--white);
}

.column p {
    font-weight: 600;
    font-size: 16px;
}

.column {
    padding: 14px 24px;
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.slide-btn {
    color: var(--dark-blue);
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    height: 54px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.section-description {
    max-width: 469px;
    font-size: 18px;
    font-weight: 600;
    color: #AAB2C2;
    text-align: center;
    margin: 0 auto;
    line-height: 21.6px;
    margin-top: 8px;
    margin-bottom: 40px;
}

.container_overflow {
    overflow: visible;
}

.team-cards {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.team-card {
    width: calc(20% - 8px);
}

.navigate-btn_center {
    margin: 40px auto 0;
}

.tab span {
    font-size: 18px;
}

.team {
    margin: 180px 0;
}

.team-card-wrapper {
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 367px;
    border-radius: 8px;
}

.trainer-name {
    font-size: 52px;
    line-height: 46.8px;
    max-width: 248px;
    text-wrap: wrap;
}

.trainer {
    border-radius: 8px;
}

.team-card-wrapper {
    background: var(--card-bg);
}

.trainer-description {
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    border-radius: 8px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(16.5px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    opacity: 0;
    visibility: hidden;
}

.overlay_active {
    opacity: 1;
    visibility: visible;
}

.body-lock {
    overflow: hidden;
}

.overlay__content {
    transform: scale(0.9);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.overlay_active .overlay__content {
    transform: scale(1);
    opacity: 1;
}

.buy-card-window_consultation {
    background-image: url('/assets/img/line_consultation.png');
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 0;
}

.form-politic_consultation {
    margin-bottom: 40px;
}

.feedback-top {
    display: flex;
    gap: 67px;
    align-items: flex-start;
    font-weight: 500;
}

.feedback-top p {
    max-width: 383px;
    font-size: 22px;
    line-height: 28.6px;

}

.feedback-bottom {
    display: flex;
    align-items: flex-end;
    gap: 40px;
    font-weight: 600;
    font-size: 18px;
}

.section-title_feedback {
    margin-bottom: 40px;
}

.feedback {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
    background: var(--card-bg);
    width: 31.5%;
    padding: 24px;
    height: 450px;
    flex-shrink: 0;
}

.slider-controls-wrapper {
    display: flex;
    width: 269px;
    justify-content: space-between;
    align-items: center;
    margin: 45px auto 0;
}

.slider-next,
.slider-prev {
    cursor: pointer;
}


.splide__pagination {
    display: none !important;
}

.my-carousel-progress {
    background: #F1F2F4;
    height: 9px;
    border-radius: 40px;
    overflow: hidden;
    width: 141px;
}

.my-carousel-progress-bar {
    background: #383838;
    border-radius: 40px;
    height: 100%;
    width: 0;
    transition: width 0.3s ease;
}

.splide__arrows {
    display: none;
}

.error-message {
    background: #FFDEDD;
    border: 1.5px solid var(--red);
    margin-top: -4px;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 14.4px;
    border-top: none;
    color: var(--red);
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transform: translateY(-10px);
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, transform 0.5s ease, max-height 0.5s ease;
}

.error-message.visible {
    opacity: 1;
    transform: translateY(0);
    max-height: 100px;
}

.close-error {
    cursor: pointer;
}

.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.marquee-content {
    display: inline-block;
    animation: marquee 80s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}

.team-card {
    display: inline-block;
    width: 367px;
}

.map-club h4 {
    font-size: 52px;
    line-height: 46.8px;
}

.map-club {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    background: var(--card-bg);
    width: 100%;
    padding: 32px 24px 24px 32px;
    cursor: pointer;
}

.map-right {
    width: 42%;
    overflow-y: hidden;
}

.map-wrapper {
    display: flex;
    gap: 8px;
}

.map-tabs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.map-left {
    position: relative;
    background-color: var(--card-bg);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    width: 57.6%;
}

.section-title_map {
    position: absolute;
    max-width: 337px;
    text-align: left;
    left: 20px;
    top: 20px;
}

.map-right {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-height: 909px;
    transition: all 0.5s ease;
}

.details-wrapper {
    flex-grow: 1;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 12px 24px;
    border-radius: 8px;
}

.dropdown-content_map {
    border-radius: 12px;
    opacity: 0;
    transform: translateY(-40px);
    transition: all 0.3s ease;
    pointer-events: none;
    height: 0;
    margin: -4px;
}

.dropdown-content_map.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    height: 460px;
    max-height: 460px;
    pointer-events: all;
    margin: 0;
    position: relative;
}

.dropdown-content img.dropdown-image {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 10px;
}

/* .dropdown-content p.dropdown-text {
    font-size: 16px;
    line-height: 1.5;
} */

.map-card-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: var(--card-bg);
    background-image: url('/assets/img/line_map.png');
    background-repeat: no-repeat;
    padding: 16px;
    border-radius: 16px;
}

.details-btn {
    border: none;
    background: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 18px;
    font-weight: 700;
    line-height: 24.59px;
    padding: 20px 48px;
    border-radius: 8px;
    cursor: pointer;
}

.section-title_buy {
    margin: 0;
    font-size: 52px;
    line-height: 46.8px;
}

.details-wrapper p {
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    max-width: 428px;
}

.club-preview {
    position: absolute;
    opacity: 0.4;
    transition: opacity 0.5s ease;
    width: 100px;
    height: 100px;
    border-radius: 8px;
}

.club-preview_active {
    opacity: 1;
}

.club-preview_1 {
    top: 15.9%;
    left: 50%;
}

.club-preview_2 {
    top: calc(15.9% + 105px);
}

.club-preview_3 {
    top: calc(15.9% + 105px);
    left: calc(50% + 55px);
}

.club-preview_4 {
    top: 50.43%;
    left: calc(22vw - 100px)
}

.club-preview_5 {
    bottom: 8.73%;
    left: calc(29vw - 100px);
}

.club-preview_6 {
    bottom: 12.3%;
    left: calc(35vw - 100px);
}

.years {
    color: var(--white);
}

.for-love-right img {
    border-radius: 16px;
}

.app-section {
    margin-bottom: 200px;
}

.love-card-icon-wrapper {
    background: var(--card-bg);
    border-radius: 50%;
}

.app-wrapper {
    background-color: var(--card-bg);
    background-image: url('/assets/img/line_app.png');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: 603px;
    overflow: visible;
    border-radius: 16px;
    padding: 40px;
}

.mobile-phone {
    position: relative;
    transform: translateY(-23%);
    margin-left: 32%;
}

.app-card-description {
    color: #CBD1DC;
}

.app-left .section-title {
    text-align: left;
    margin: 0px;
}

.app-card {
    background: var(--white);
    width: 319px;
    height: 290px;
    padding: 20px 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;
    position: absolute;
}

.app-icon-wrapper {
    background: var(--card-bg);
    width: 50px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-card-info-wrapper {
    max-width: 273px;
}

.app-right {
    position: relative;
    width: 100%;
}

.app-left,
.app-left h3 {
    width: 564px;
}

.app-left h3 {
    margin-bottom: 8px !important;
}

.app-card_second {
    right: 1%;
    bottom: 9%;
}

.app-card_first {
    left: 22%;
    top: 24%;
}

.app-left p {
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    max-width: 488px;
}

.app-icons {
    margin-top: auto;
    width: 435px;
    display: flex;
    background: var(--white);
    border-radius: 16px;
    padding: 8px;
    gap: 8px;
}

.app-left {
    display: flex;
    flex-direction: column;
}

.app-icon {
    display: flex;
    background: var(--card-bg);
    width: 50%;
    justify-content: center;
    gap: 16px;
    align-items: center;
}

.global-slider-controls {
    display: none;
}

.finik {
    color: var(--white);
}

.btn-primary__forlove_mobile {
    display: none;
}

.club-detail {
    position: absolute;
    bottom: 16px;
    left: 16px;
}

.club-detail_flex {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 32px);
}

.club-detail>* {
    background: var(--white);
    margin-top: 8px;
}

.dropdown-image_map {
    width: 100% !important;
}

.btn-abs {
    position: absolute;
    right: 16px;
    bottom: 16px;
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    color: var(--dark-blue);
    font-size: 16px;
}

.club-detail_address {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    font-weight: 600;
    padding: 8px 16px 8px 8px;
    width: max-content;
}

.club-icon-wrap {
    background: var(--card-bg);
    width: 40px;
    height: 40px;
    border-radius: 2px;
    position: relative;
}

.club-icon-wrap img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.club-detail_phone {
    display: flex;
    gap: 16px;
    align-items: center;
    font-weight: 600;
    padding: 8px 24px 8px 8px;
    width: max-content;
    border-radius: 8px;
}

.club-detail_flex {
    display: flex;
    gap: 16px;
    padding: 8px 24px 8px 8px;
    width: max-content;
    border-radius: 8px;
}

.club-icon-wrap_big {
    height: 65px;
}

.club-detail_flex div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.club-detail_flex div span {
    color: #CBD1DC;
}

.club-detail_flex div p {
    display: flex;
    gap: 16px;
    align-items: center;
}

.map-right {
    overflow: hidden;
}

.app-icons .app-icon {
    height: 82px;
}

.app-icons_mobile {
    display: none;
}

.app-mobile-cards {
    display: none;
}

.header-submenu-col_mobile {
    display: none;
}


.header-submenu .header-submenu-col_desktop ul li a {
    display: inline-block;
    transition: transform 0.3s ease;
    padding-right: 20px;
}



.header-col3>* {
    cursor: pointer;
}

.dropdown-image_map {
    border-radius: 12px;
}

.app-card-description {
    margin-top: 16px;
}

.app-card-title,
.news-title,
.feedback-top p {
    font-size: 22px;
    font-weight: 500;
}

.page-title span {
    display: inline-block;
    opacity: 0;
    transition: all 1s ease;
}

.span1 {
    transform: translateY(50px);
}

.span2 {
    transform: translateY(0);
    transition-delay: 2s;
}

.span3 {
    transform: translateY(-50px);
}

.active {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.dropdown-content_map {
    border-radius: 12px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, max-height 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    margin: -4px;
    position: absolute;
    z-index: 10;
    width: 100%;
}

.dropdown-content_map.active {
    opacity: 1;
    max-height: 460px;
    pointer-events: auto;
    margin: 0;
    position: relative;
}

.dropdown-content_map.active.upwards {
    transform: translateY(-100%);
}

.map-right {
    overflow-y: visible;
}

.app-icon {
    transition: background 0.3s ease;
    cursor: pointer;
}



.svg-arrow path {
    transition: 0.3s;
}

.header-submenu .header-submenu-col_desktop ul li a {
    position: relative;
    display: inline-block;
    padding-left: 0;
    transition: padding-left 0.3s ease;
}

.header-submenu .header-submenu-col_desktop ul li a::before {
    content: ' ';
    position: absolute;
    left: -20px;
    top: 50%;
    width: 10px;
    height: 2px;
    background-color: none;
    opacity: 0;
    transition: opacity 0.3s ease, left 0.3s ease;
}

.header-submenu .header-submenu-col_desktop ul li a:hover::before {
    left: 0;
    opacity: 1;
}

.minus {
    display: none;
}

.plus.hidden {
    display: none;
}

.minus.active {
    display: block;
}

.app-icon {
    border-radius: 8px;
}

.header-menu-link {
    display: inline-block;
    transition: all 0.3s ease;
}

@media (hover: hover) {

    .arrow-wrapper:hover .svg-arrow path {
        stroke: #6A6A6A;
    }

    .hover-effect:hover {
        background-color: transparent;
    }

    .hover-effect:hover::after {
        top: 0;
        font-weight: 700;
    }

    .menu-item:hover {
        background: var(--dark-blue);
        color: var(--white);
    }

    .menu-item_date:hover span {
        background: var(--beige);
    }

    .header-submenu .header-submenu-col_desktop ul li a:hover {
        padding-left: 20px;
        transition: padding-left 0.3s ease;
    }

    .app-icon:hover {
        background: #E5E7EB;
    }

    /* .header-menu-link:hover {
        transform: translateX(10px);
        display: inline-block;
    } */
}

@media(max-width:1680px) {
    .header-menu-link {
        padding: 9px 12px;
        font-size: 12px;
    }

    .header-col1 {
        max-width: 188px;
    }

    .header-col1 img {
        max-width: 100%;
        height: 100%;
    }

    .header-col3 {
        font-size: 12px;
    }

    .map-club img {
        width: 30px;
        height: 30px;
    }

    .app-left p {
        font-size: 14px;
        line-height: 16.8px;
        max-width: 390px;
    }
}

@media(max-width:1440px) {

    .app-icon {
        border-radius: 6px;
    }

    .app-card-title,
    .news-title,
    .feedback-top p {
        font-size: 16px;
    }

    .map-card-wrapper {
        background-image: url('/assets/img/line_map1440.png');
        background-position: center;
    }


    .buy-card-window {
        background-image: url('/assets/img/card-line1440.png');
    }

    .buy-card-window_consultation {
        background-image: url('/assets/img/line_consultation1440.png');
    }

    .for-love-left {
        background-image: url('/assets/img/line_forlove1440.png');
    }

    .app-wrapper {
        background-image: url('/assets/img/line_app1440.png');
    }

    .dropdown-content_map.active {
        height: 343px;
        max-height: 345px;
    }

    .header-submenu {
        width: 696px;
        padding: 30px;
    }

    .header-submenu.active {
        height: 319.5px;
    }

    .header-submenu ul li a {
        font-size: 36px !important;
        line-height: 32.4px !important;
    }

    .close-card {
        width: 49px;
        height: 49px;
        flex-shrink: 0;
    }

    .for-love__title {
        margin: 0;
    }

    .club-preview {
        border-radius: 6px;
    }

    .icon-wrapper_heart {
        top: -65px;
    }

    .icon-wrapper_dumbbell {
        top: 68px;
    }

    .for-love__icons {
        gap: 20px;
    }

    .love-card__title {
        font-size: 16px;
        line-height: 20.8px;
    }

    .love-card__description {
        font-size: 14px;
        line-height: 16.8px;
    }

    .love-card {
        height: 219px;
    }

    .love-card-text {
        gap: 12px;
    }

    .for-love-left {
        padding: 30px;
    }

    .for-love__title {
        max-width: 351px;
    }

    .for-love__promotion {
        font-size: 14px;
        padding: 6px 6px 6px 13.5px;
        gap: 12px;
    }

    .for-love__promotion span {
        padding: 6px 12px;
    }

    .for-love__cards {
        margin-top: 24px;
    }

    .btn-primary {
        height: 46px;
    }

    .buy-card {
        padding-top: 0;
    }

    .details-btn {
        border-radius: 6px;
    }

    .map-club {
        padding: 28px 24px;
    }

    .club-preview_2,
    .club-preview_3 {
        top: calc(15.9% + 80px);
    }

    .club-preview_3 {
        left: calc(50% + 45px)
    }

    .club-preview {
        width: 75px;
        height: 75px;
    }

    .map-club h4 {
        font-size: 40px;
        line-height: 36px;
    }

    .section-title_map {
        max-width: 253px;
    }

    .team {
        margin: 135px 0;
    }

    .container_flex {
        margin: 135px auto;
    }

    .header-col1 {
        padding: 7.25px 16px;
    }

    .header-col3>* {
        font-size: 12px;
        line-height: 16.8px;
    }

    .header-col2 {
        height: 50px;
    }

    .burger-menu {
        width: 37px;
        height: 37px;
    }

    .header-col3 {
        padding: 6px;
    }

    .back-call,
    .buy-card__btn {
        padding: 10.5px 19.5px;
    }

    .phone {
        padding: 10.25px 19.5px;
    }

    .icon-wrapper {
        width: 107px;
        height: 107px;
    }

    .page-title {
        font-size: 98px;
        line-height: 88.2px;
    }

    .page-title_small {
        max-width: 592px;
    }

    .feedback-top p {
        font-size: 16px;
        line-height: 20.8px;
    }

    .feedback-bottom img {
        width: 60px;
        height: 60px;
    }

    .feedback {
        height: 345px;
    }

    .feedback-bottom p {
        font-size: 14px;
    }

    .footer-title {
        font-size: 51px;
        line-height: 45.9px;
    }

    .footer-menu {
        max-width: 851px;
    }

    .footer-top {
        gap: 154px;
    }

    a.social-media {
        font-size: 14px;
        gap: 16px;
        height: 42px;
    }

    .social-media__icon {
        width: 30px;
        height: 30px;
    }

    .footer-col_col1 {
        width: 313px;
    }

    .footer-info {
        font-size: 14px;
    }

    .news-title {
        font-size: 16px;
    }

    .news-description {
        font-size: 14px;
        line-height: 16.8px;
    }

    .news-card {
        min-height: 480px;
    }

    .news-date {
        font-size: 14px;
    }

    .arrow-wrapper {
        width: 44px;
        height: 44px;
    }

    .news-date-wrapper {
        padding-bottom: 12px;
    }

    .buy-card-window {
        width: 501px;
        padding: 30px;
    }

    .heading_left h4 {
        font-size: 75px;
        line-height: 67.5px;
    }

    .form-politic {
        font-size: 12px;
        max-width: 279px;
    }

    .btn-primary {
        font-size: 12px;
    }

    .buy-card-heading p {
        font-size: 14px;
        max-width: 254px;
    }

    .buy-card .container_relative {
        height: 687px;
    }

    input {
        height: 60px;
        font-size: 14px;
    }

    input::placeholder {
        font-size: 14px;
    }

    .buy-card-window {
        background-position: right;
    }

    .dropdown-header {
        height: 60px;
    }

    .menu-item {
        padding: 12px 4px 12px 16px;
        font-size: 14px;
        gap: 0;
    }

    .numbers-card h4 {
        font-size: 120px;
        line-height: 120px;
    }

    .numbers-card__description {
        font-size: 14px;
        line-height: 16.8px;
    }

    .center-section h4 {
        font-size: 76px;
        line-height: 68.4px;
        max-width: 502px;
    }

    .team-card,
    .team-card-wrapper {
        width: 275px;
    }

    .team-card img {
        max-width: 275px;
    }

    .trainer-name {
        font-size: 32px;
        line-height: 28.8px;
    }

    .trainer-description {
        font-size: 14px;
        line-height: 16.8px;
    }

    .team-card-wrapper {
        padding: 12px 18px;
    }

    .main-page-text {
        font-size: 14px;
        line-height: 16.8px;
        max-width: 266px;
    }

    .tab span {
        font-size: 15px;
    }

    .section-title {
        font-size: 76px;
        line-height: 68.4px;
    }

    .header {
        padding: 24px 0;
    }

    .app-wrapper {
        height: 452px;
    }

    .mobile-phone {
        height: 698px;
        margin-left: 16%;
    }

    .app-card {
        width: 239px;
        height: 219px;
    }

    .app-card-description {
        font-size: 14px;
    }

    .app-icon-wrapper {
        width: 36px;
        height: 36px;
    }

    .app-card_first {
        left: 3%;
        top: 20%;
    }

    .app-icons .app-icon {
        height: 62px;
    }

    .googleplay {
        width: 34px;
        height: 38px;
    }

    .appstore {
        width: 30px;
        height: 36px;
    }

    .app-icons {
        width: 338px;
    }

    .club-detail_address {
        padding: 6px 12px 6px 6px;
        font-size: 14px;
        line-height: 16.8px;
    }

    .club-icon-wrap {
        width: 30px;
        height: 30px;
    }

    .club-detail_phone,
    .club-detail_flex {
        padding: 6px 18px 6px 6px;
        font-size: 14px;
        line-height: 16.8px;
    }

    .club-icon-wrap_big {
        height: 49px;
        width: 30px;
    }

    .club-icon-wrap_big img {
        width: 12px;
        height: 12px;
    }

    .club-detail_flex div {
        justify-content: space-around;
    }

    .btn-abs {
        padding: 9px 18px;
        font-size: 14px;
    }

    .app-card-title {
        font-size: 16px;
    }

    .app-card-description {
        margin-top: 12px;
    }

    .news-card {
        border-radius: 12px;
    }

    .news-image {
        border-radius: 12px 12px 0 0;
    }

    a.navigate-btn {
        border-radius: 6px
    }

    .center-image,
    .numbers-card {
        border-radius: 12px;
    }


}

@media(max-width:1280px) {
    .header-col2 {
        display: none;
    }

    .map {
        max-width: 100%;
    }
}

@media(max-width:1024px) {

    .for-love-right {
        display: none;
    }

    .for-love-left {
        width: 100%;
    }

    .map-club {
        padding: 18px 24px;
        font-size: 40px;
        line-height: 36px;
    }

    .club-preview_4 {
        top: 51.73%;
        left: calc(37vw - 75px);
    }

    .club-preview_6 {
        left: calc(60vw - 75px);
    }

    .club-preview_5 {
        left: calc(49vw - 75px);
    }

    .map-wrapper {
        flex-direction: column;
    }

    .map-left,
    .map-right {
        width: 100%;
    }

    .container-slider {
        flex-direction: column-reverse;
    }

    .slider-left,
    .slider-right {
        width: 100%;
    }

    .slider-title {
        display: none;
    }

    .footer-top {
        flex-direction: column;
        gap: 116px;
        margin-top: 50px;
    }

    .footer-col_col1 {
        align-self: center;
        text-align: center;
    }

    .footer-menu .footer-col {
        gap: 8px;
    }

    .footer-wrapper {
        gap: 116px;
    }

    .footer-bottom {
        gap: 24px;
    }
}

@media(max-width:768px) {

    .map-right {
        overflow-y: hidden;
    }

    .map-card-wrapper {
        background-image: url('/assets/img/line_map768.png');
        background-position: left;
    }

    .details-wrapper {
        height: 100px;
    }

    .app-wrapper {
        background-image: url('/assets/img/line_app768.png');
        background-size: contain;
    }

    .container {
        width: calc(100vw - 50px);
    }

    .header-submenu-col_mobile {
        display: flex;
    }

    .header-submenu-col_desktop {
        display: none;
    }

    .header-submenu {
        width: 518px;
        padding: 24px;
        border-radius: 6px;
    }

    .header-submenu.active {
        height: 448px;
    }

    .header-submenu-close {
        width: 37px;
        height: 37px;
    }

    .form-politic_consultation {
        margin-bottom: 0;
    }

    .header {
        padding: 12px 0;
    }

    .details-wrapper {
        flex-direction: row;
    }

    .section-title_buy {
        font-size: 40px;
        line-height: 36px;
    }

    .details-btn {
        font-size: 13.5px;
        line-height: 18.44px;
        padding-top: 13px;
        padding-bottom: 13px;
    }

    .details-wrapper p {
        max-width: 330px;
        font-size: 13.5px;
        line-height: 16.2px;
    }

    .club-preview {
        width: 68px;
        height: 68px;
    }

    .club-preview_2,
    .club-preview_3 {
        top: calc(15.9% + 73px);
    }

    .club-preview_3 {
        left: calc(50% + 40px);
    }

    .club-preview_5 {
        left: calc(49vw - 68px);
    }

    .club-preview_6 {
        left: calc(59vw - 68px);
    }

    .container_flex {
        margin-left: 0;
        margin-right: 0;
    }

    .swiper-slide .slide-btn {
        display: none;
    }

    .global-slider-controls {
        display: flex;
        justify-content: space-between;
        padding: 12px 8px;
        align-items: center;
        background: var(--card-bg);
    }

    .global-slider-controls img {
        width: 6px;
        height: 12px;
    }

    .slide-desc {
        position: relative;
        width: 100%;
        left: 0;
        bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .slide-desc-wrapper {
        padding-left: 4px;
        background: var(--card-bg);
    }

    .slide-desc-wrapper .column p {
        font-size: 14px;
        line-height: 16.8px;
    }

    .slide-icon {
        background: var(--white);
    }

    .slide-title {
        font-size: 40px;
        line-height: 36px;
    }

    .slide-btn {
        background: var(--dark-blue);
        color: var(--white);
        font-size: 14px;
        line-height: 19.12px;
    }

    .slider-left {
        display: none;
    }

    .text-wrapper {
        flex-direction: column;
        gap: 15px;
    }

    .main-page-text {
        text-align: left;
        align-self: flex-start;
    }

    .feedback-top img {
        width: 43px;
        height: 39px;
    }

    .team-card,
    .team-card-wrapper {
        width: 240px;
        padding: 12px 16px;
    }

    .team-card img {
        max-width: 240px;
    }

    .news {
        overflow: hidden;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .container_touch {
        width: 100vw;
    }

    .buy-card .container_relative {
        height: 916px !important;
        background-position-x: 40%;
    }

    .menu-item {
        padding: 4px 4px 4px 16px;
        border-radius: 2px;
    }

    .menu-item .span {
        width: 57px;
        height: 33px;
    }

    .dropdown-menu {
        border-radius: 4px;
    }

    .numbers-wrapper {
        flex-wrap: wrap;
    }

    .numbers-left,
    .numbers-right {
        width: calc(50% - 4px);
    }

    .center-section {
        order: 3;
        width: 100%;
        border-radius: 12px;
    }

    .percent img {
        width: 27px;
        height: 51px;
    }

    .numbers-card {
        height: 341px;
        border-radius: 8px;
    }

    .container_touch {
        width: 100vw;
    }

    .for-love-wrapper .btn-primary {
        margin-top: 40px;
    }

    .app-wrapper {
        height: auto;
        flex-direction: column;
    }

    .mobile-phone {
        height: 775px;
        margin: 0;
        transform: translateY(23%);
        margin-left: 37px;
    }

    .app-left {
        justify-content: center;
        width: 100%;
        align-items: center;
    }

    .app-card_second {
        right: -6%;
        bottom: -2%;
    }

    .app-card_first {
        left: -4%;
        top: 48%;
    }

    .app-left .section-title {
        width: 491px;
        text-align: center;
    }

    .app-desc {
        text-align: center;
    }

    .app-icons {
        margin-top: 24px;
    }

    .mobile-phone {
        transform: translateY(-6%);
    }

    .app-card_first {
        left: -5%;
        top: 20%;
    }

    .app-card_second {
        right: -5%;
        bottom: 27%;
    }

    .app-section {
        margin-bottom: 135px;
    }

    .app-wrapper {
        padding-bottom: 0;
    }

    .app-right {
        margin-bottom: -183px;
    }

    .dropdown-content_map.active {
        height: 240px;
        max-height: 240px;
    }

    .dropdown-image_map {
        height: 240px;
        width: 100%;
        object-fit: cover;
    }
}

@media(max-width:500px) {

    .slide-desc .column {
        gap: 19px;
        padding: 14px 13px;
    }

    h5.slide-title {
        letter-spacing: -0.03em !important;
    }

    .for-love__promotion {
        gap: 4px;
    }

    .for-love__title {
        max-width: 244px;
    }

    .btn-primary__forlove_mobile {
        display: flex;
        height: 49px;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 700;
    }

    .for-love-wrapper .btn-primary {
        display: none;
    }

    .love-card {
        flex-direction: row;
        width: 100%;
        max-width: 100%;
        height: max-content;
        gap: 40px;
        border-radius: 6px;
    }

    .for-love-left {
        padding: 16px 8px;
    }

    .for-love__promotion>* {
        font-size: 14px !important;
        font-weight: 600 !important;
        padding: 8px 12px !important;
        border-radius: 24px;
    }

    .for-love__cards {
        flex-direction: column;
    }

    .overlay_active .buy-card-window {
        width: calc(100vw - 32px);
    }

    .for-love__promotion {
        flex-direction: column;
        background: var(--card-bg);
    }

    .for-love__promotion p,
    .for-love__promotion span {
        background: var(--white);
    }

    .for-love__icons .icon-wrapper {
        display: none;
    }

    input {
        padding-left: 12px;
    }

    .details-wrapper {
        flex-direction: column;
        padding: 18px;
        gap: 6px;
    }

    .section-title_buy {
        font-size: 24px;
        line-height: 21.6px;
    }

    .details-wrapper p {
        width: 100%;
    }

    .map-club img {
        width: 24px;
        height: 24px;
    }

    .map-club h4 {
        font-size: 24px;
        line-height: 21.6px;
    }

    .club-preview {
        width: 40px;
        height: 40px;
    }

    .club-preview_2,
    .club-preview_3 {
        top: calc(15.9% + 45px);
    }

    .club-preview_3 {
        left: calc(50% + 25px);
    }

    .club-preview_4 {
        top: 53.73%;
        left: calc(34vw - 40px);
    }

    .section-title_feedback,
    .team .section-title,
    .app-wrapper .section-title,
    .for-love__title {
        font-size: 52px;
        line-height: 46.8px;
    }

    .section-title_map {
        font-size: 36px;
        line-height: 32.4px;
        max-width: 125px;
    }

    .news {
        width: 100vw;
    }

    .container_flex,
    .team {
        margin: 75px 0;
    }

    .slide-desc-wrapper {
        flex-direction: column;
    }

    .slide-title {
        font-size: 36px;
        line-height: 32.4px;
    }

    .slide-icon img {
        width: 89px;
        height: 73px;
    }

    .slide-icon {
        width: 100%;
        height: 130px;
    }

    .global-slider-pagination p {
        font-size: 14px;
    }

    .phone,
    .back-call,
    .buy-card__btn {
        display: none;
    }

    .page-title {
        font-size: 58px;
        line-height: 52.2px;
    }

    .text-wrapper {
        gap: 8px;
    }

    .page-title_small {
        max-width: 330px;
    }

    .feedback {
        height: 242px;
    }

    .feedback-bottom img {
        width: 42px;
        height: 42px;
    }

    .feedback-top img {
        width: 30px;
        height: 27px;
    }

    .feedback {
        padding: 14px;
    }

    .feedback-top {
        gap: 40px;
    }

    .feedback-top p {
        font-size: 14px;
        line-height: 18.2px;
    }

    .numbers-card h4 {
        font-size: 55.92px;
        line-height: 55.92px;
    }

    .numbers-card {
        height: 180px;
        padding: 10px;
    }

    .center-section h4 {
        font-size: 36px;
        max-width: 233px;
        line-height: 32.4px;
    }

    .percent img {
        width: 13px;
        height: 24.2px;
        margin-top: 5px;
    }

    .numbers-card__description {
        font-size: 12px;
    }

    .menu-item {
        padding: 4px 4px 4px 10px;
    }

    .dropdown-menu {
        padding: 4px;
        gap: 4px;
    }

    .container {
        width: calc(100vw - 32px);
    }

    .footer-info {
        flex-wrap: wrap;
    }

    .years {
        order: 0;
        width: 50%;
    }

    .finik {
        order: 1;
        width: 50%;
        text-align: right;
    }

    .oferta {
        order: 2;
        margin-top: 5px;
    }

    .footer-menu .footer-col {
        width: calc(50% - 25px);
        font-size: 14px;
    }

    .footer-menu {
        flex-wrap: wrap;
        gap: 50px;
    }

    .footer-top {
        margin-top: 35px;
    }

    .buy-card .container_relative {
        background: none;
        height: max-content !important;
    }

    .heading_left h4 {
        font-size: 40px;
        line-height: 36px;
    }

    .buy-card-window {
        padding: 20px;
    }

    .dropdown-header {
        padding: 0 12px;
        font-size: 14px;
    }

    .dropdown-header img {
        width: 16px;
        height: 16px;
    }

    .container_touch {
        width: 100vw;
    }
}

@media(max-width:430px) {

    .news-image {
        border-radius: 10.5px 10.5px 0 0;
    }

    .news-card {
        border-radius: 10.5px;
    }

    .buy-card-window {
        background-image: url('/assets/img/card-line375.png');
        background-size: cover;
    }

    .buy-card-window_consultation {
        background-image: url('/assets/img/line_consultation375.png');
        background-size: contain;
    }

    .for-love-left {
        background-image: url('/assets/img/line_forlove375.png');
        background-position: bottom;
    }

    .app-wrapper {
        background-image: url('/assets/img/line_app375.png');
        background-position-y: 395px;
        background-size: contain;
    }


    .map-card-wrapper {
        background-image: url('/assets/img/line_map375.png');
        background-position: left;
        background-size: contain;
    }

    .details-wrapper {
        height: 134px;
    }

    .club-detail {
        bottom: 45px;
        left: 8px;
    }

    .btn-abs {
        left: 8px;
        bottom: 0;
        right: 8px;
    }

    .dropdown-content_map.active {
        height: 430px;
        max-height: 430px;
    }

    .dropdown-image_map {
        height: 443px;
    }

    .header-submenu {
        width: calc(100vw - 32px);
        padding: 70px 16px 0 16px;
        align-self: flex-start;
        gap: 0;
    }

    .header-submenu.active {
        height: 434px;
    }

    .header-submenu ul li a {
        font-size: 32px !important;
        line-height: 28.8px !important;
    }

    .body-lock .header-col1 {
        z-index: 11;
    }

    .mobile-phone {
        height: auto;
        max-width: 100%;
        margin: 0 auto;
    }

    .app-left {
        width: 100%;
        align-items: center;
    }

    .app-left h3 {
        width: 271px;
        text-align: center !important;
    }

    .app-left p:first-of-type {
        text-align: center;
    }

    .app-icons {
        display: none;
    }

    .app-icons_mobile {
        display: flex !important;
        width: 100%;
        background: var(--card-bg);
        margin-top: 8px;
    }

    .app-wrapper {
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 0;
    }

    .app-card {
        top: 0;
        left: 0;
        position: relative;
        width: 100%;
        height: 123px;
        flex-direction: row;
        gap: 34px;
        padding: 12px 32px 12px 12px;
        justify-content: flex-start;
    }

    .app-card-title {
        text-align: left !important;
    }

    .app-icon {
        background: var(--white);
    }

    .app-card .app-icon-wrapper {
        flex-shrink: 0;
    }

    .app-right {
        display: none;
    }

    .app-section {
        margin-bottom: 75px;
    }

    .mobilephone-wrapper {
        display: flex;
    }

    .mobilephone-wrapper img {
        margin: 0 auto;
    }

    .app-card-info-wrapper {
        max-width: 211px;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
    }

    .app-card-title {
        width: 205px;
    }

    .app-mobile-cards {
        display: block;
        width: 100%;
        margin-top: 6px;
    }

    .app-left {
        margin-bottom: -60px;
    }

    .transform-card_first {
        transform: translateY(-75px);
    }

    .transform-card_second {
        transform: translateY(-68px);
    }

    .transform-card_second .app-card-title {
        width: 191px;
    }

    .app-left .section-title {
        width: 271px;
    }

    .map-card-wrapper {
        padding: 8px;
    }

    .club-preview_6 {
        left: calc(61vw - 40px);
    }

    .club-preview_5 {
        left: calc(49vw - 35px);
    }

    .map-card-wrapper {
        gap: 20px;
    }
}

@media(max-width:375px) {
    .club-preview_6 {
        left: calc(61vw - 40px);
    }

    .club-preview_5 {
        left: calc(49vw - 40px);
    }
}