@import '/assets/fonts/bebas/stylesheet.css';
@import '/assets/fonts/monrope/stylesheet.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--white);
}

p {
    color: var(--dark-blue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bebas Neue Cyrillic', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: -0.02em;
}

*:not(h1, h2, h3, h4, h5, h6) {
    font-family: 'Manrope', sans-serif;
}

:root {
    --white: #ffffff;
    --grey: #F1F2F4;
    --dark-blue: #383838;
    --beige: #E1DAD7;
    --border: 1px solid rgba(255, 255, 255, 0.4);
    --card-bg: #F1F2F4;
    --red: #E82525;
}

.btn-primary {
    background: var(--red);
    color: var(--white);
    border-radius: 6px;
    height: 62px;
    cursor: pointer;
    border: none;
    font-weight: 700;
    line-height: 21.86px;
}

.hover-effect {
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.hover-effect::after {
    content: attr(data-hover-text);
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-blue);
    transition: top 0.3s ease;
    z-index: 1;
    color: var(--white);
}

.hover-effect:hover {
    background-color: transparent;
}

.hover-effect:hover::after {
    top: 0;
    font-weight: 700;
}

a.navigate-btn {
    background: var(--card-bg);
    font-weight: 700;
    color: var(--dark-blue);
    align-self: center;
    width: 174px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input::placeholder {
    color: #ABB2C3;
}

li {
    list-style: none;
}

input {
    border: none;
    outline: none;
    padding-left: 25px;
    height: 80px;
    font-size: 18px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-col1 {
    background: var(--white);
    padding: 8px 16px;
    display: flex;
    width: max-content;
    border-radius: 8px;
    height: max-content;
}

.header-menu {
    display: flex;
    gap: 4px;
}

.header-menu-link {
    padding: 13.5px 16px;
}

.header-menu-item {
    text-transform: uppercase;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    padding: 30px 0;
    transition: transform 0.3s ease-in-out;
    width: 100%;
}

.burger {
    display: flex;
}

.header-col3 {
    display: flex;
    align-items: center;
    background: var(--white);
    gap: 8px;
    border-radius: 6px;
    padding: 8px;
    font-size: 16px;
    font-weight: 700;
}

.phone {
    background: var(--card-bg);
    border-radius: 6px;
    padding: 14px 16px;
}

.back-call {
    background: var(--card-bg);
    padding: 14px 26px;
    border-radius: 6px;
    border: none;
    font-weight: 700;
    font-size: 16px;
}

.burger-menu {
    display: flex;
    width: 49px;
    height: 49px;
    justify-content: center;
    align-items: center;
}


.header.hidden {
    transform: translateY(-100%);
}

.header-col2 {
    background-color: transparent;
    color: var(--default-text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    height: 66px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.scrolled .header-col2 {
    background-color: var(--white);
}

.scrolled .header-col2 a {
    color: var(--dark-blue);
}

.buy-card__btn {
    padding: 14px 26px;
    border-radius: 6px;
    border: none;
    font-weight: 700;
    color: var(--white);
    background: var(--red);
    font-size: 16px;
}

.video-container {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: flex-end;
}

.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.content-overlay {
    z-index: 1;
    text-align: center;
    margin: 0 auto 40px;
}

.container {
    width: calc(100vw - 48px);
    margin: 0 auto;
}

.page-title {
    font-size: 130px;
    line-height: 117px;
    color: var(--white);
}

.page-title_small {
    max-width: 768px;
    text-align: left;
}

.main-page-text {
    color: var(--white);
    align-self: flex-end;
    text-align: right;
    max-width: 355px;
    font-size: 18px;
    font-weight: 600;
}

.text-wrapper {
    display: flex;
    justify-content: space-between;
}

.buy-card {
    padding: 30px 0;
}

.buy-card .container_relative {
    background: url('/assets/img/bar.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 916px;
}

.container_relative {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy-card-window {
    background-color: var(--card-bg);
    width: 668px;
    padding: 40px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-image: url('/assets/img/card-line.png');
    background-repeat: no-repeat;
    background-position: center;
}


.buy-card-heading h4 {
    color: var(--dark-blue);
    font-size: 100px;
    line-height: 90px;
    margin-bottom: 30px;
}

.buy-card-heading p {
    font-size: 18px;
    max-width: 338px;
}

.heading_left {
    max-width: 451px;
}

.buy-card-heading {
    display: flex;
    justify-content: space-between;
}


.form-politic {
    color: #AAB2C2;
    max-width: 372px;
    font-weight: 600;
}

.close-card {
    width: 65px;
    height: 65px;
    border-radius: 8px;
    padding: 8px;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -12px;
    right: -12px;
    cursor: pointer;
}

.buy-card-form {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.dropdown-container {
    position: relative;
}

.dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--white);
    transition: background-color 0.3s ease;
    padding: 0 25px;
}

.arrow-icon {
    transition: transform 0.3s ease;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 16px;
    z-index: 10;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    padding: 8px;
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--dark-blue);
    font-size: 18px;
    font-weight: 600;
}

.dropdown-menu.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.menu-item {
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px 24px;
    background: var(--card-bg);
    border-radius: 8px;
    transition: background 0.3s ease;
}

.menu-item:hover {
    background: var(--dark-blue);
    color: var(--white);
}

.menu-item.selected {
    background: var(--dark-blue);
    color: var(--white);
}

.dobule-dd-wrapper {
    display: flex;

}

.dobule-dd-wrapper .dropdown-container {
    width: 50%;
}

.menu-item_date {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-item_date span {
    background: var(--white);
    color: var(--dark-blue);
    width: 78px;
    height: 38px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.menu-item_date.selected span {
    background: var(--beige);
}

.menu-item_date:hover span {
    background: var(--beige);
}

.news {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.news-card {
    width: calc(25% - 6px);
    background: var(--card-bg);
    color: var(--dark-blue);
    min-height: 640px;
    display: flex;
    flex-direction: column;
}

.news-image {
    width: 100%;
    max-height: 294px;
    flex-grow: 1;
}

.news-date-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding: 0 24px 24px;
}

.news-content-wrapper {
    padding: 24px;
    display: flex;
    flex-direction: column;
    height: auto;
}

.arrow-wrapper {
    width: 56px;
    height: 56px;
    background: var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.news-title {
    font-size: 22px;
    font-weight: 500;
}

.news-description {
    font-weight: 600;
}

.container_flex {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin: 180px auto;
}

.section-title {
    font-size: 100px;
    line-height: 90px;
    text-align: center;
    max-width: 680px;
    margin: 0 auto;
}


.numbers-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.numbers-card {
    padding: 20px;
    width: 100%;
    height: 50%;
    background: var(--card-bg);
    color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;
}

.numbers-card h4 {
    font-size: 160px;
    line-height: 160px;
}

.numbers-card__description {
    font-size: 18px;
    font-weight: 600;
}

.numbers-left,
.numbers-right {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: calc(25% - 8px);

}

.center-section {
    width: 50%;
    border-radius: 16px;
}

.center-section img {
    width: 100%;
    height: 100%;
}

.center-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.numbers {
    padding: 20px 0;
}

.percent {
    display: flex;
    align-items: flex-start;
    gap: 4px;
}

.percent img {
    margin-top: 15px;
}

.footer {
    background: var(--dark-blue);
    padding: 30px 0 24px;
    text-transform: uppercase;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    gap: 44px;
}

.footer-logo {
    width: 100%;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
}

.footer-col {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-title {
    color: var(--white);
    font-size: 67.5px;
    line-height: 61.2px;
}

.footer-col_col1 {
    max-width: 413px;
    gap: 24px;
}

a.social-media {
    display: flex;
    gap: 24px;
    align-items: center;
    border: var(--border);
    border-radius: 48px;
    width: 50%;
    justify-content: flex-end;
    height: 56px;
    font-size: 18px;
}

a.social-media img {
    position: relative;
    right: 5px;
}

.social-media-wrapper {
    display: flex;
    gap: 8px;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 285px;
}

.footer-top {
    display: flex;
    gap: 208px;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1106px;
}

.for-love-wrapper {
    display: flex;
    gap: 4px;
    overflow: hidden;
}

.for-love-left {
    width: 50%;
    background-image: url('/assets/img/line_forlove.png');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    background-color: var(--card-bg);
    padding: 40px;
    border-radius: 16px;
}

.for-love-right {
    width: 50%;
    border-radius: 16px;
}

.for-love__title {
    max-width: 468px;
}

.icon-wrapper {
    width: 142px;
    height: 142px;
    border-radius: 8px;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--card-bg);
    flex-shrink: 0;
}

.for-love__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 30px;
    margin-top: 35px;
}

.icon-wrapper_dumbbell {
    position: absolute;
    z-index: 2;
    width: 142px;
    height: 142px;
    right: 0;
}

.icon-wrapper_heart {
    position: relative;
    width: 142px;
    height: 142px;
    top: -100px;
    left: -15px;
}

.for-love-wrapper .btn-primary {
    margin-top: auto;
    width: 188px;
    height: 49px;
    margin: auto auto 0;
}

.for-love__promotion {
    background: var(--white);
    border-radius: 32px;
    padding: 8px 18px;
    display: flex;
    align-items: center;
    gap: 16px;
    text-transform: uppercase;
    color: var(--dark-blue);
    width: max-content;
    margin: 0 auto;
}

.for-love__promotion span {
    font-weight: 700;
    padding: 8px 18px;
    background: var(--card-bg);
    border-radius: 40px;
}

.love-card-icon-wrapper {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.love-card {
    background: var(--white);
    border-radius: 12px;
    max-width: 319px;
    padding: 16px;
    min-height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.love-card__description {
    color: #CBD1DC;
    font-size: 18px;
    font-weight: 600;
}

.love-card__title {
    font-weight: 500;
    font-size: 22px;
}

.for-love__cards {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 8px;
}

.love-card-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


/*  */
.container-slider {
    display: flex;
    width: 100%;
    gap: 8px;
}

.slider-left {
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background: var(--card-bg);
    border-radius: 16px;
    font-size: 18px;
    font-weight: 600;
}

.tab {
    padding: 10px;
    background: #ddd;
    border: none;
    cursor: pointer;
}

.slider-right {
    width: 75%;
    position: relative;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-desc {
    position: absolute;
    bottom: 16px;
    left: 16px;
    color: var(--dark-blue);
    padding: 10px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 648px;
}

.tabs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.tab {
    position: relative;
    padding: 10px 20px;
    background: #F7F8FA;
    border: none;
    cursor: pointer;
    color: rgba(56, 56, 56, 0.2);
    font-weight: bold;
    overflow: hidden;
}

.tab.active {
    background: var(--white);
    position: relative;
    color: var(--dark-blue);
}

.tab.active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #F7F8FA;
    transition: none;
    z-index: 0;
}

.tab span {
    position: relative;
    z-index: 1;
}

.tab.active.animating::before {
    animation: progress-tab 10s linear forwards;
}

.slider-title {
    text-align: left;
    margin: 24px 0 0 24px;
}

@keyframes progress-tab {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.fitness {
    padding: 20px 0;
}

.slide-title {
    font-size: 52px;
    line-height: 46.8px;
    color: var(--dark-blue);
}

.slide-desc-wrapper {
    display: flex;
    padding: 8px;
    border-radius: 8px;
}

.slide-icon {
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    flex-shrink: 0;
    background: var(--card-bg);
}

.slide-icon img {
    width: 119px;
    height: 97px;
}

.slide-desc-wrapper,
.slide-btn {
    background: var(--white);
}

.column p {
    font-weight: 600;
    font-size: 16px;
}

.column {
    padding: 14px 24px;
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.slide-btn {
    color: var(--dark-blue);
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    height: 54px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.section-description {
    max-width: 469px;
    font-size: 18px;
    font-weight: 600;
    color: #AAB2C2;
    text-align: center;
    margin: 0 auto;
    line-height: 21.6px;
    margin-top: 8px;
    margin-bottom: 40px;
}

.container_overflow {
    overflow: visible;
}

.team-cards {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.team-card {
    width: calc(20% - 8px);
}

.navigate-btn_center {
    margin: 40px auto 0;
}

.team {
    margin: 180px 0;
}

.team-card-wrapper {
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.trainer-name {
    font-size: 52px;
    line-height: 46.8px;
    max-width: 248px;
}

.trainer {
    border-radius: 8px;
}

.team-card-wrapper {
    background: var(--card-bg);
}

.trainer-description {
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    border-radius: 8px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    backdrop-filter: blur(16.5px);
    opacity: 0;
    visibility: hidden;
}

.overlay_active {
    opacity: 1;
    visibility: visible;
}

.body-lock {
    overflow: hidden;
}

.overlay__content {
    transform: scale(0.9);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.overlay_active .overlay__content {
    transform: scale(1);
    opacity: 1;
}

.buy-card-window_consultation {
    background-image: url('/assets/img/line_consultation.png');
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 0;
}

.form-politic_consultation {
    margin-bottom: 40px;
}

.feedback-top {
    display: flex;
    gap: 67px;
    align-items: flex-start;
    font-weight: 500;
}

.feedback-top p {
    max-width: 383px;
    font-size: 22px;
    line-height: 28.6px;

}

.feedback-bottom {
    display: flex;
    align-items: flex-end;
    gap: 40px;
    font-weight: 600;
    font-size: 18px;
}

.feedback-wrapper {
    display: flex;
    gap: 8px;
    overflow: visible;
    justify-content: center;
    margin-top: 40px;
}

.feedback {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
    background: var(--card-bg);
    width: 31.5%;
    padding: 24px;
    height: 450px;
    flex-shrink: 0;
}

.slider-controls-wrapper {
    display: flex;
    width: 269px;
    justify-content: space-between;
    align-items: center;
    margin: 45px auto 0;
}

.slider-controls-wrapper img {
    cursor: pointer;
}

/*  */

@media(max-width:1440px) {
    .footer-title {
        font-size: 51px;
        line-height: 45.9px;
    }

    .footer-menu {
        max-width: 851px;
    }

    .footer-top {
        gap: 154px;
    }

    a.social-media {
        font-size: 14px;
        gap: 16px;
        height: 42px;
    }

    .social-media__icon {
        width: 30px;
        height: 30px;
    }

    .footer-col_col1 {
        width: 313px;
    }

    .footer-info {
        font-size: 14px;
    }
}

@media(max-width:1024px) {
    .footer-top {
        flex-direction: column;
        gap: 116px;
        margin-top: 50px;
    }

    .footer-col_col1 {
        align-self: center;
        text-align: center;
    }

    .footer-menu .footer-col {
        gap: 8px;
    }

    .footer-wrapper {
        gap: 116px;
    }

    .footer-bottom {
        gap: 24px;
    }
}

@media(max-width:500px) {
    .container {
        width: calc(100vw - 32px);
    }

    .footer-info {
        flex-wrap: wrap;
    }

    .years {
        order: 0;
        width: 50%;
    }

    .finik {
        order: 1;
        width: 50%;
        text-align: right;
    }

    .oferta {
        order: 2;
        margin-top: 5px;
    }

    .footer-menu .footer-col {
        width: calc(50% - 25px);
        font-size: 14px;
    }

    .footer-menu {
        flex-wrap: wrap;
        gap: 50px;
    }

    .footer-top {
        margin-top: 35px;
    }
}