.trainers-section {
  margin-bottom: 100px;
}
.trainers-section .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.trainers-dropdown__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.dropdown-container-trainers {
  background-color: var(--grey);
}
.trainers-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.page-team-card {
  width: calc(20% - 8px);
  margin-bottom: 40px;
  cursor: pointer;
}
.page-team-card img {
  width: 100%;
  max-height: 414px;
  max-width: 367px;
}
.team-card-wrapper-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  border-radius: 8px;
  background-color: var(--grey);
  padding: 16px;
  width: 100%;
  min-height: 160px;
  
}
.trainer-name-title {
  font-size: 48px;
  line-height: 46.8px;
  text-wrap: wrap;
  white-space: pre-line;
}
.trainer-description-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  /* white-space: nowrap; */
}
.trainer-item {
  color: var(--dark-blue);
}

@media (max-width: 1440px) {
  .page-team-card img {
    max-height: 307px;
    max-width: 272px;
  }
  .trainer-name-title  {
    font-size: 32px;
    line-height: 30.6px;
  }
  .team-card-wrapper-page {
    max-width: 272px;
    padding: 12px;
    min-height: 122px;
    /* padding-bottom: 20px; */
  }
}
@media (max-width: 1140px) {
  .page-team-card img {
    max-height: 307px;
    max-width: 272px;
  }
  .team-card-wrapper-page {
    max-width: 272px;
    padding: 12px;
   
  }
  .page-team-card {
    width: calc(25% - 8px);
  }
  .trainer-description-text {
    font-size: 14px;
    
  }
  .trainer-name-title  {
    font-size: 32px;
    line-height: 28.8px;
  }
} 

@media (max-width:900px) {
  .page-team-card {
    width: calc(33.33% - 4px);
  }
  .trainers-container {
    gap: 4px;
  }
}

@media (max-width:768px) {
  .page-team-card img {
    max-height: 270px;
    max-width: 240px;
  }
  .team-card-wrapper-page {
    max-width: 240px;
    min-height: 107px;
    max-height: 107px;
   
  }
}
@media (max-width:475px) {
  .page-title__count {
    display: none;
  }
  .page-team-card {
    width: calc(50% - 4px);
  }
  .page-team-card img {
    max-height: 249px;
    max-width: 218px;
  }
  .team-card-wrapper-page {
    padding: 8px;
    max-width: 218px;
    min-height: 88px;
    gap: 4px;
  }
  .trainer-name-title {
    font-size: 22px;
    white-space: normal;
    line-height: 1;
  }
  .trainer-description-text {
    font-size: 12px;
    line-height: 120%;
  }
  .btn-trainer-see {
    width: 100% !important;
  }
  .trainer-dropdow-media {
    width: 100%;
    
  }
}
@media (max-width:425px) {
  .page-team-card {
    width: calc(50% - 4px);
  }
  .page-team-card img {
    max-height: 189px;
    max-width: 168px;
  }
  .team-card-wrapper-page {
    max-width: 168px;
    /* padding-bottom: 16px; */
  }
  
}